
/*{
  box-sizing:border-box;
  font-family: 'Space Mono', monospace;
}

/*
body{
  margin:0;
  padding-bottom:0;
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
   background-image: linear-gradient(to right top, #a2beeb, #8ecfee, #8edde5, #a4e7d5, #c7eec7);
  flex-direction: column;
  -webkit-flex-direction: column;
}
*/
.title {
    margin-bottom: 30px;
    color: #162969;
}

/*
.scrolling-wrapper {
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
}
*/

.scrolling {
    width: auto;
    padding-bottom : 20px !important;
    margin: 0 !important;
    
}
.scrolling::-webkit-scrollbar{
    display:none;
}

.cardie
{
/*flex: 0 0 auto;*/
/*margin:70px !important;*/

 display: inline-block;
width: 280px !important; 
height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
    margin-right: 20px;


  
}

.cardie__part{
  box-shadow: 2px 2px  #020c1f;
    top: 0;
  position: absolute;
z-index: 1000;
  left: 0;
  display: inline-block;
    width: 320px;
    height: 190px;
    background-image: url(''), linear-gradient(266deg, rgba(68,38,189,1) 17%, rgba(73,32,196,1) 59%, rgba(104,28,203,1) 84%, rgba(145,70,189,1) 100%); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.
__front{
  padding: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
}

.cardie__back {
  padding: 18px 0;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

.cardie__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.cardie__logo {
    height: 16px;
}

.cardie__front-logo{
      position: absolute;
    top: 18px;
    right: 18px;
}
.cardie__square {
    border-radius: 5px;
    height: 30px;
}

.cardie_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cardie__space-75 {
    width: 75%;
    float: left;
}

.cardie__space-25 {
    width: 25%;
    float: left;
}

.cardie__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.cardie__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cardie__back-content {
    padding: 15px 15px 0;
}
.cardie__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.cardie__secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.cardie__secret:before{
  content:'';
  position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.cardie__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.cardie__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.cardie:hover .cardie__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}

.cardie:hover .cardie__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}
/*
.horizontal-scrollable > .row { 
            overflow-x: auto !important; 
            white-space: nowrap !important; 
        } 
          
.horizontal-scrollable > .row > .col-xl-4 .col-sm-12 col-md-6.col-sm-12 { 
            display: inline-block !important; 
            float: none !important; 
        } */
