<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% extends 'pages/_base.html' %}
{% load static %}

{% block content %}
{% include 'pages/_header.html' %}
<!-- Header -->

    <div class="header pb-6" style="width: 100; background-color: #0027e3">
      <div class="container-fluid">
          <div class="header-body">
                      <div class="row justify-content-center">
                      <h2 class="display-1 mt-1"  style="color: white; font-weight: 300">Affiliate Account</h2>
                      </div>
          </div>
      </div>
    </div>

    <!-- Page content -->


     <!---------------------------------MODAL PAGES------------------------------------------>
    <div class="container-fluid mt--6">
      <div class="row justify-content-md-center">
        <div class=" col ">
          <div class="card">
            <div class="card-header bg-transparent">
                <div class="row justify-content-center">
              <h3 class="mb-0" style="font-weight: 300">NGN 00.00</h3>
                    </div>
            </div>
            <div class="card-body">
              <div class="row icon-examples">
                <div class="container">
                  <div class="row justify-content-center">

                      <button type="button" class="btn btn-primary btn-icon btn btn-success" data-toggle="modal"
                              data-target="#modal-reg" style="float: left; min-width: 130px">
                        <span class="btn-inner--icon"><i class="ni ni-send"></i></span>
                        <span class="btn-inner--text" >Register</span>
                      </button>
                    </div>
                    <div>
                    </div>


  <form action='{% url "charge" %}' method="post">
      {% csrf_token %}
      <div class="modal fade" id="modal-reg" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
                    aria-hidden="true">
          <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
              <div class="modal-content bg-gradient-success">
                  <div class="modal-header">
                      <h6 class="modal-title" id="modal-platform_header">Register as an affiliate agent</h6>

                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>

                  <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">

                                    <div class="row">
                                        <span class="badge badge-lg h5 badge-dot mr-4" style="margin-left: 10px; margin-top: -4px">
                                          <i class="bg-default"></i>rank: Standard</span>
                                    </div>
                                    <div class="row">
                                        <span class="badge badge-lg h5 badge-dot mr-4" style="margin-left: 10px; margin-top: -4px">
                                          <i class="bg-default"></i>Receive 50% returns from all referrals</span>
                                    </div>
                                         <div class="row">
                                        <span class="badge badge-lg h5 badge-dot mr-4" style="margin-left: 10px; margin-top: -4px">
                                          <i class="bg-default"></i>Receive 10% from 2nd referrals</span>
                                    </div>
                                    <div class="row">
                                        <span class="badge badge-lg h5 badge-dot mr-4" style="margin-left: 10px; margin-top: -4px">
                                            <i class="bg-default"></i>Registration Fee: NGN 1,500</span>
                                  </div>
                                </div>
                            </div>
                        </div>
                  </div>



                  <div class="modal-footer">
                    <div class="row">
                      <div class="col-sm">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                                data-target="#modal-method">Choose payment method</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="modal fade" id="modal-method" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
                    aria-hidden="true">
          <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
              <div class="modal-content bg-gradient-success">
                  <div class="modal-header">
                      <div class="col">
                      <h6 class="modal-title" id="modal-method_header">Select a payment method</h6>

                      <h5 class="text-muted" style="margin-left: 0px">An equivalent of NGN 1500 will be
                          debited from the corresponding account selected</h5>  </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>

                  <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="custom-control custom-radio mb-4" style="margin-left: 40px" >
                                        <input type="radio" value="bitcoin" id="customRadio1" name="platform"
                                               class="custom-control-input" checked/>
                                        <label class="custom-control-label" for="customRadio1" style="width: 20px">
                                            <span class="badge badge-pill  badge-default" style="width: 100px; top: -1px">Bitcoin</span></label>
                                    </div>

                                    <div class="custom-control custom-radio mb-4" style="margin-left: 40px" >
                                        <input type="radio" value="etherum" id="customRadio2" name="platform" class="custom-control-input"/>
                                        <label class="custom-control-label" for="customRadio2" style="width: 20px">
                                            <span class="badge badge-pill  badge-default" style="width: 100px; top: -1px">Etherum</span></label>
                                    </div>
                                    <div class="custom-control custom-radio mb-4" style="margin-left: 40px" >
                                        <input type="radio" value="litecoin" id="customRadio3" name="platform" class="custom-control-input"/>
                                        <label class="custom-control-label" for="customRadio3" style="width: 20px">
                                            <span class="badge badge-pill  badge-default" style="width: 100px; top: -1px">Litecoin</span></label>
                                    </div>
                                    <div class="custom-control custom-radio" style="margin-left: 40px" >
                                        <input type="radio" value="Bitcoincash" id="customRadio4" name="platform" class="custom-control-input"/>
                                        <label class="custom-control-label" for="customRadio4" style="width: 20px">
                                            <span class="badge badge-pill  badge-default" style="width: 100px; top: -1px">Bitcoin cash</span></label>
                                    </div>
                                    <div class="custom-control custom-radio mb-4" style="margin-left: 40px; margin-top: 25px">
                                        <input type="radio" value="naira" id="customRadio5" name="platform" class="custom-control-input"/>
                                        <label class="custom-control-label" for="customRadio5" style="width: 20px">
                                            <span class="badge badge-pill  badge-default" style="width: 100px; top: -1px">Naira</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>



                  <div class="modal-footer">
                    <div class="row">
                      <div class="col-sm">
                               <button type="button" class="btn btn-primary btn-warning" data-toggle="modal"
                                        data-dismiss="modal" data-target="#modal-reg">Previous</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                                data-target="#modal-pin">Proceed</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>




      <div class="modal fade" id="modal-pin" tabindex="-1" role="dialog" aria-labelledby="modal-pin"
                    aria-hidden="true">
              <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-success">
                  <div class="modal-header">
                   <h6 class="modal-title" id="modal-title-pin">Please provide your pin to confirm</h6>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                   </button>
                  </div>

                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input class="form-control" name="pin" type="password" placeholder="password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm" >
                                <button type="button" class="btn btn-primary btn-warning" data-toggle="modal"
                                        data-dismiss="modal" data-target="#modal-method">Previous</button>
                                <button type="button" class="btn btn-success"  data-toggle="modal"
                                        data-dismiss="modal" data-target="#modal-confirm">Confirm</button>
                            </div>
                        </div>
                    </div>



                </div>
              </div>
      </div>




      <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-amount"
                    aria-hidden="true">
              <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-success">
                  <div class="modal-header">
                   <h6 class="modal-title" id="modal-title-amount">Cross-check your entries before confirming</h6>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                   </button>
                  </div>


                  <div class="modal-body">
                      <div class="container">
                          <div class="row">
                              <div class="col-sm">
                                  <div>
                                      <span class="badge badge-lg h5 badge-dot mr-4" style="margin-left: 10px; margin-top: -4px">
                                          <i class="bg-default"></i>Summary: Register as an affiliate agent
                                          <i class="fa text-warning fa-arrow-up" style="margin-top: -10px"></i></span>
                                  </div>
                                  <div>
                                      <span class="badge badge-lg h5 badge-dot mr-4" style="margin-left: 10px; margin-top: -4px">
                                          <i class="bg-default"></i>Payment method: From affiliate account</span>
                                  </div>
                                  <div>
                                      <span class="badge badge-lg h5 badge-dot mr-4" style="margin-left: 10px; margin-top: -4px">
                                          <i class="bg-default"></i>Total amount: NGN 1,500</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <div class="row">
                          <div class="col-sm" >

                              <button type="button" class="btn btn-warning" data-toggle="modal"
                                        data-dismiss="modal" data-target="#modal-pin">Previous</button>
                              <button type="submit" class="btn  btn-success">Confirm</button>
                          </div>
                      </div>
                  </div>


              </div>
              </div>
      </div>
  </form>





               </div>
              </div>
            </div>
          </div>
        </div>









    <div class="container-fluid mt--15">
      <div class="row justify-content-md-center">
        <div class=" col ">
          <div class="card">
            <div class="card-header">
              <div class="row justify-content-center">
              <h3 class="mb-200">PROGRAM INFORMATION</h3>
              </div>
            </div>
            <div class="card-body">
                <div class="card">
                    <span class="badge badge-dot mr-4" style="margin-left: 10px; margin-top: -4px">
                        <i class="bg-default"></i>Register as an agent and earn    </span>
                </div>
                <div class="card">
                    <span class="badge badge-dot mr-4" style="margin-left: 10px; margin-top: -4px">
                        <i class="bg-default"></i>Re   </span>
                </div>
                <div class="card">
                    <span class="badge badge-dot mr-4" style="margin-left: 10px; margin-top: -4px">
                        <i class="bg-default"></i>     </span>
                </div>
                <div class="card">
                    <span class="badge badge-dot mr-4" style="margin-left: 10px; margin-top: -4px">
                        <i class="bg-default"></i>     </span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>



  <!-- Optional JS -->
  <script src="../assets/vendor/clipboard/dist/clipboard.min.js"></script>
  <!-- Argon JS -->
  <script src="../assets/js/argon.js?v=1.2.0"></script>
  {% endblock %}



