<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <title>Response template</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="{% static 'assets/js/instascan.min.js' %}"></script>
  </head>
  <body>
      <video id="qrcam"></video>
      <script>
        var qr = new Instascan.Scanner({
            video: document.getElementById("qrcam")
        });
        qr.addListener('scan', function(data){
            console.log(data);
         });
         Instascan.Camera.getCameras().then(function(cams){
             qr.start(cams[0]);
         }).catch(function(err){
             console.log(error);
         });

      </script>
  </body>

</html>
